

header.header
	.header-top
		.header-top__logo
			img(src=PATH + 'images/logo.png')
		.header-top__mid
			picture
				source(srcset=PATH + "images/notes.svg" media="(min-width: 768px)")
				source(srcset=PATH + "images/notes-mob.svg" media="(min-width: 0)")
				img(src=PATH + 'images/notes.svg')
		.header-top__title
			span ПРАЗДНИЧНЫЕ КОНЦЕРТЫ
			span.color 2014-2024 годы

		.header-top__right
			img(src=PATH + 'images/right.png')
		.header-top__line
	.header-mob
		.top ПРАЗДНИЧНЫЕ КОНЦЕРТЫ
		.bottom
			span
			span.color 2014-2024 годы