include ../vars/vars

.page-inner
	.page-bg
		.page-bg__left
		.page-bg__right
	.top-line
		.top-line__logo
			img(src=PATH + 'images/theatre.png' loading="lazy")
		.top-line__text
			p <b>Дорогие друзья!</b>
			p Унитарное предприятие «АЭС-комплект» как партнер Белорусского государственного академического музыкального театра совместно с Минским городским Советом депутатов уже более 10 лет в преддверии Дня Победы проводит благотворительный концерт, посвященный памяти всех, кто своим ежедневным воинским или трудовым подвигом приближал Победу.  На этом сайте вы сможете посмотреть архив концертных выступлений, посвященных этому великому празднику.
			p <b>Сохраним память о героях и их подвиге вместе!</b>

	.video-grid(x-data="videos")
		each i, index in videos
			.video-item(data-video=i.url data-video-index=index+1)
				.video-item__head
					.video-item__img(@click=`playVideo(${index})`)
						.video-item__btn
							img(src=PATH + 'images/play.svg' loading="lazy")

						.video-item__imgs.js-imgs
							each x, z in [1,2,3,4]
								img(src=PATH + `images/video-${index + 1}/${x}.jpg` loading="lazy" class=x===1 && 'active')
						//-+splide({
							mod: 'js-splide-video video-slider'
							})
							each x, z in [1,2,3,4]
								li.splide__slide
									img(src=PATH + `images/video-${index+1}/${x}.jpg` loading="lazy")
					.video-item__content
						.video-item__title=i.title
				//-if (!i.text)
					.video-item__footer(x-data="{open: false}" @click.outside="open=false" :class="open && 'active'")
						.video-item__trigger(@click="open=!open")
							span подробнее...
							<svg class="icon" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.5 13L14.8612 0.25H0.138784L7.5 13Z" fill="white"/>
							</svg>

						.video-item__list(x-show="open" x-transition)=i.text

	.top-line.info-block
		//-.info-block__title В концерте<br>принимали<br>участие:
		.info-block__title
		.info-block__list
			p <b>В концертах принимали участие:</b> народные артисты Беларуси Наталия Гайда, Маргарита Александрович и Анатолий Ярмоленко; заслуженные артисты Республики Беларусь Антон Заянчковский, Людмила Станевич и Виктор Циркунович; заслуженный артист Татарстана, лауреат государственной премии России Марат Башаров; лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, Виктория Жбанкова-Стриганкова, Наталья Дементьева, Наталья Глух, Леся Лют, Михаил Лила, Сергей Спруть, Анна Егораева, Илона Казакевич, Наталья Чебёлко; дипломанты международных конкурсов Александр Осипец, Артём Хомичёнок, Дмитрий Матиевский, Анна Беляева, Анна Юринок, Дмитрий Бахталин; артисты театра Николай Русецкий, Сергей Килессо, Вера Кондратина, Алла Лукашевич, Владислав Данилович, Михаил Колбенёв, Карина Самцова, Сергей Жаров, Владимир Свибович, Дмитрий Климович, Евгений Далидович, Дмитрий Лобейко, Владислав Штылевский, Анзор Алимирзоев, Ольга Гучек, Светлана Корнелюк, Арина Хлус, Ольга Здярская, Анатолий Ярмоленко-младший; артисты ансамбля солистов, артисты хора, артисты балета оперетты и мюзикла, а также дети артистов театра и детские хоровые коллективы Минска. В концертах участвовал симфонический оркестр театра под управлением главного дирижёра театра – лауреата международного конкурса Юрия Галяса и дирижёров Марины Третьяковой и Николая Макаревича.
			p <b>Режиссёры концертов</b> — заслуженный деятель искусств России Михаил Ковальчик, Валерия Чигилейчик и Анна Моторная.
			p <b>Автор идеи и генеральный партнёр проекта-акции</b> — Григорий Владимирович Борозна.
		//-.info-block__list
			ul
				li народная артистка Беларуси Маргарита Александрович;
				li заслуженные артисты Республики Беларусь Антон Заянчковский, Людмила Станевич и Виктор Циркунович;
				li лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва;
				li дипломанты международных конкурсов Александр Осипец, Анна Юринок, Дмитрий Бахталин;
				li артист театра Николай Русецкий;
				li артисты ансамбля солистов;
				li артисты балета;
				li симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Марины Третьяковой.
			p <b>Режиссёр концерта</b> – главный режиссёр театра, заслуженный деятель искусств России  Михаил Ковальчик.
			p <b>Автор идеи и генеральный партнер проекта-акции</b> – Григорий Владимирович Борозна.

	include ../footer/footer
